body {
    background-color: yellow;
}

header {
    background-color: lightslategray;
    color: white;
}

section {
    color: green;
    width: 75%;
    float: left;
}

p {
    color: black;
}

aside {
    color: teal;
    font-family: "helvetica neue", Arial, Helvetica, sans-serif;
    width: 24%;
}

.pop {
    background-color: tomato;
}

